

body{
  max-width: 800px;
  align-items:center
}


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  
}

nav a {
  text-decoration: none;
  color: black;
  border:1px solid black;
  padding:10% 20%;
}

.App-link {
  color: #61dafb;
}
img {
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
